@import "../../../styles/mixins";
@import "../../../styles/extends";

.field {
    &_state_error {
        .field__inner::after {
            @extend %visibility-block;
        }
        .field__info-text {
            @extend %visibility-block;
        }
        .field__icon-eye {
            @extend %hidden-block;
        }
    }

    &__inner {
        display: grid;
        gap: 10px;

        &:after {
            content: "";
            display: block;
            background-color: var(--eror-color);
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMjQgMjQiPgogIDxwYXRoIGQ9Ik0xMyAxM2gtMlY3aDJtMCAxMGgtMnYtMmgyTTEyIDJhMTAgMTAgMCAxIDAgMCAyMCAxMCAxMCAwIDAgMCAwLTIwWiIvPgo8L3N2Zz4K");
            mask-size: contain;
            mask-repeat: no-repeat;
            @include box(1.5em);
            grid-area: 1/1/2/2;
            align-self: center;
            justify-self: end;
            margin-right: 0.875em;

            @extend %hidden-block;
        }
    }
    &__input {
        @extend %reset-input;
        grid-area: 1/1/2/2;
        padding: 1em 2.875em 1em 1em;
        background-color: #e1e1e1;
        border-radius: 5px;

        &:focus-visible {
            outline: 1px solid var(--primary);
        }
    }
    &__label {
        line-height: 2;
        font-size: 0.875em;
        color: var(--dark-low);
    }
    &__info-text {
        @extend %cut-text;
        display: block;
        font-size: 0.75em;
        line-height: 1;
        color: var(--eror-color);

        @extend %hidden-block;
    }

    // Для пароля глазик
    &__icon-eye {
        display: block;
        background-color: var(--dark-low);
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMjQgMjQiPgogIDxwYXRoIGQ9Ik0xMiA5YTMgMyAwIDEgMCAwIDYgMyAzIDAgMCAwIDAtNlptMCA4YTUgNSAwIDEgMSAwLTEwIDUgNSAwIDAgMSAwIDEwWm0wLTEyLjVDNyA0LjUgMi43MyA3LjYxIDEgMTJjMS43MyA0LjM5IDYgNy41IDExIDcuNXM5LjI3LTMuMTEgMTEtNy41Yy0xLjczLTQuMzktNi03LjUtMTEtNy41WiIvPgo8L3N2Zz4K");
        mask-size: contain;
        mask-repeat: no-repeat;
        @include box(1.5em);
        grid-area: 1/1/2/2;
        align-self: center;
        justify-self: end;
        margin-right: 0.875em;
        cursor: pointer;

        @extend %visibility-block;

        &:active {
            transform: translateY(1px);
        }
    }
}
