@import "../../../styles/mixins";
@import "../../../styles/extends";

.field {
  &_state_error {
      & .field__inner::after {
          @extend %visibility-block;
      }
      & .field__info-text {
          @extend %visibility-block;
      }
  }

  &__inner {
      display: grid;
      gap: 10px;

      &:after {
          content: "";
          display: block;
          background-color: #d61c4d;
          mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMjQgMjQiPgogIDxwYXRoIGQ9Ik0xMyAxM2gtMlY3aDJtMCAxMGgtMnYtMmgyTTEyIDJhMTAgMTAgMCAxIDAgMCAyMCAxMCAxMCAwIDAgMCAwLTIwWiIvPgo8L3N2Zz4K");
          @include box(1.5em);
          grid-area: 1/1/2/2;
          align-self: center;
          justify-self: end;
          margin-right: 0.875em;

          @extend %hidden-block;
      }
  }
  &__input {
      @extend %reset-input;
      grid-area: 1/1/2/2;
      padding: 1em 2.875em 1em 1em;
      background-color: #eee;
      border-radius: 5px;

      &:focus-visible {
          outline: 1px solid #aaaaaa;
      }
  }
  &__label {
      line-height: 2;
      font-size: 0.875em;
  }
  &__info-text {
      @extend %cut-text;
      display: block;
      font-size: 0.75em;
      line-height: 1;
      color: #d61c4d;

      @extend %hidden-block;
  }
}