.article {
    @extend %main-width;
    padding: min(3.25vmax, 1.875em) var(--padding-gor-size-sm);

    &__two-columns {
        display: grid;
        gap: min(3.25vmax, 1.875em);
        grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
    }

    // &__column {}

    &__image {
        max-block-size: min(80vh, 40em);
        object-fit: contain;
    }

    &__title {
        margin: 0.75rem 0;
        font-family: var(--font-headings);
        font-size: var(--title-size-lg);
    }

    &__subtitle {
        margin: 0.75em 0;
        font-size: var(--text-size-xl);
        font-weight: 600;
    }
}
