@import "../../../styles/mixins";
@import "../../../styles/extends";

.search-filter {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__row {
        display: flex;
        gap: 0.675em;
    }

    &__field {
        flex: auto;
    }
}
