@import "../../../styles/mixins";
@import "../../../styles/extends";

.search-filter {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block-end: 1.875em;

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 0.675em;
    }

    &__filed-columns {
        display: grid;
        align-items: end;
        gap: 0.675em;
        grid-template-columns: repeat(auto-fit, minmax(min(17em, 100%), 1fr));
    }

    &__field {
        flex: auto;
        min-width: min(17em, 100%);
    }

    &__controls {
        display: flex;
        gap: 1em;
    }
}
