@import "../styles/mixins";
@import "../styles/extends";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --admin-main-font-family: "Poppins", sans-serif;

    --admin-dark: #323c47;
    --admin-dark-low: #707683;
    --admin-primary: rgb(16, 156, 241);
    --admin-primary-opacity: 16, 156, 241;

    --admin-eror-color: #f7685b;
    --admin-alert-color: #ffb946;
    --admin-success-color: #2ed47a;
}

.app {
    display: flex;
    min-block-size: 100vb;
    background-color: #f5f6f8;
    &__header {
        flex: none;
        position: sticky;
        inset-block-start: 0;
        inset-inline-start: 0;
        inset-inline-end: 0;
        z-index: 1;
    }
    &__main {
        flex: auto;

        display: flex;
        gap: 1.5em;
        flex-direction: column;
    }
    &__content {
        flex: auto;
        margin: 0 1.5em 1.5em;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);
    }
}
