@import "../styles/mixins";
@import "../styles/extends";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --admin-main-font-family: "Poppins", sans-serif;

    --admin-dark: #323c47;
    --admin-dark-low: #707683;
    --admin-primary: rgb(16, 156, 241);
    --admin-primary-opacity: 16, 156, 241;

    --admin-eror-color: #f7685b;
    --admin-alert-color: #ffb946;
    --admin-success-color: #2ed47a;
}

.app {
    display: flex;
    min-block-size: 100vb;
    background-color: #f5f6f8;
    &__main {
        flex: auto;
    }
}
