@import "../../../styles/mixins";
@import "../../../styles/extends";

.cell-image-logo {
    width: 3.5em;
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 3/4;
    border-radius: 5px;
}

.admin-table-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 0.675em;
    margin-block: 1em;
}

.admin-table {
    &__container {
        width: 100%;
        overflow: auto;
    }

    &__table {
        table-layout: fixed;
        min-width: 100%;
        max-width: 100%;
        border-collapse: collapse;
    }

    &__thead {
        .admin-table__row {
        }
    }
    &__tbody {
        .admin-table__row {
            transition: background-color 0.35s ease-in-out;

            &:hover {
                background-color: rgba(var(--admin-primary-opacity-color), 0.05);
            }
        }
    }
    &__row {
        &_hover:hover {
            cursor: pointer;
        }
    }

    &__cell-heading {
        text-align: left;
        color: var(--admin-text-low-color);
        font-size: 0.875em;
        font-weight: normal;
        padding: 0.25rem 0.75rem;
        border-bottom: 1px solid var(--admin-grey-200-color);
    }

    &__cell {
        padding: 0.75em 0.75em;
        border-bottom: 1px solid var(--admin-grey-200-color);
    }

    &__cell-panel {
        display: flex;
        align-items: center;
    }

    &__cell-panel-button {
        .admin-table__cell-panel-button-icon {
            @include box(1em);
        }
    }
}

// сортировка
.cell-sorting {
    margin: 0;
    cursor: pointer;

    width: fit-content;

    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;

    &:hover {
        color: var(--admin-text-color);
    }

    &:active svg {
        transform: translateY(1px);
    }

    &_active {
        font-weight: 500;
        color: var(--admin-text-color);
    }

    svg {
        flex: none;
        @include box(1.25em);
        fill: currentColor;
    }
}
