@import "../../../styles/mixins";
@import "../../../styles/extends";

.footer {
    flex: none;
    background-color: var(--dark-background);

    &__inner {
        @extend %main-width;

        display: flex;
        flex-direction: column;
        padding: 1em var(--padding-gor-size-sm);

        @include media(md) {
            flex-direction: row;
        }
    }

    &__content {
        text-align: center;
        display: flex;
        gap: 1em;
        flex-direction: column;
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);

        @include media(md) {
            text-align: right;
        }
    }

    &__author {
        font-family: var(--font-headings);
        font-size: var(--text-size-md);

        @include media(md) {
            order: -1;
        }
    }

    // &__lk-link {}
}
