@import "../../../styles/mixins";
@import "../../../styles/extends";

.admin-menu {
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    width: var(--menu-width);
    transition: width 0.5s ease;
    block-size: 100vb;

    background-color: #fff;
    box-shadow: 6px 0px 18px 0px rgba(0, 0, 0, 0.06);
    // overflow-y: hidden;

    @include media(sm, max) {
        position: fixed;
        inset: 0;
        @include box(100%);
        // z-index: 1001;

        background-color: transparent;
        box-shadow: none;
        user-select: none;

        // transition: background-color 0.35s ease-in-out;
        // pointer-events: none;

        &_opened {
            background-color: rgba($color: black, $alpha: 0.54);
            pointer-events: unset;
            user-select: unset;

            .admin-menu__nav {
                transform: translateX(0);
            }
        }

        .admin-menu__nav {
            width: 18em;

            box-shadow: 0 0 15px rgba($color: black, $alpha: 0.15);
            transition: transform 0.35s ease-in-out;
            transform: translateX(-120%);
        }

        .admin-menu__back {
            display: block;

            position: absolute;
            inset: 0;
            z-index: -1;
            @include box(100%);
        }

        .admin-menu__button {
            display: none;
        }
    }

    @include media(sm) {
        &_size_sm {
            .admin-menu__list {
                align-items: center;
            }

            .admin-menu__link {
                gap: 0;
            }

            .admin-menu__link-icon {
                @include box(2.5em);
            }

            .admin-menu__link-text {
                height: 0;
                width: 0;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }

            .admin-menu__button .button__icon {
                transform: rotate(-90deg);
            }
        }

        &_size_md {
            .admin-menu__link {
                flex-direction: column;
                text-align: center;
                padding: 0.5em;
                gap: 0.25em;
            }

            .admin-menu__link-text {
                max-width: 6rem;
                font-size: 0.75em;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 2em;

        flex: auto;
        @include scroll-bar();
    }

    &__nav {
        flex: auto;
    }

    &__list {
        @extend %reset-list;
        display: flex;
        flex-direction: column;
    }

    &__link {
        text-decoration: none;

        display: flex;
        gap: 0.875em;
        align-items: center;
        padding: 0.675em 1.5em;
        cursor: pointer;
        transition: color 0.25s ease-in-out;

        &_active {
            cursor: default;
            color: var(--admin-primary);
        }

        &:hover {
            color: var(--admin-primary);
        }
    }

    &__link-icon {
        flex: none;
        @include box(1.5em);
        object-position: center;
        object-fit: contain;
        color: currentColor;
        transition: color 0.25s ease-in-out;
    }

    &__link-text {
        margin: 0;
        flex: auto;
        font-weight: 500;
        letter-spacing: 0.13px;
        transition: opacity 0.25s ease-in-out;
    }

    &__button {
        border-radius: 0;
        padding-block-start: 0.25em;
        padding-block-end: 0.25em;
        .button__icon {
            margin-inline-start: auto;
            @include box(2.5em);
            transform: rotate(90deg);
        }
    }

    &__back {
        display: none;
    }
}
