@import "../../../styles/mixins";
@import "../../../styles/extends";

.admin-image-alert {
    &__caption {
        margin: 0 0 1.5em;
        font-size: 1em;
        font-weight: 500;
        color: var(--admin-error-color);
        line-height: 1.5;

        svg {
            @include box(1.5em);
            vertical-align: bottom;
            fill: currentColor;
        }
    }

    &__list {
        padding-left: 1.5rem;
    }

    &__item {
        list-style-position: outside;
    }

    &__text {
        line-height: 1.5;
    }

    &__error-span {
        color: var(--admin-text-low-color);
        font-style: italic;
        font-size: 0.875em;

        &::before {
            content: "/ ";
        }
    }
}

.admin-image-selector {
    @extend %reset-list;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));

    &__item {
        @include box(100%);
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        aspect-ratio: 16/9;
        background-color: var(--admin-grey-200-color);
        outline: 2px solid var(--admin-grey-300-color);

        &_portrait {
            aspect-ratio: 210/297;
        }

        &:hover .admin-image-selector__item-panel,
        &:hover .admin-image-selector__thumbs {
            @extend %visibility-block;
        }

        // Пока не реализован
        // &_is_changed {
        //     border: 2px solid var(--admin-info-color);

        //     &::after {
        //         content: "NEW";
        //         position: absolute;
        //         bottom: 0.5em;
        //         right: 0.5em;

        //         display: flex;
        //         align-items: center;
        //         justify-content: center;

        //         @include box(2.75rem);
        //         font-size: 0.75em;
        //         color: var(--admin-info-color);
        //         font-weight: bold;
        //         background-color: #fff;
        //         border-radius: 50%;
        //         box-shadow: 0 0 15px 1px rgba(black, 0.15);
        //     }
        // }
    }

    &__item-panel {
        position: absolute;
        inset: 0 0 auto 0;
        padding: 0.375em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5em;
        @extend %hidden-block;
    }

    &__thumbs {
        position: absolute;
        inset: 50% 0 auto 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        padding: 0.375em;
        @extend %hidden-block;
    }

    &__current-position {
        position: absolute;
        inset: auto auto 0.375em 0.375em;

        display: flex;
        align-items: center;
        justify-content: center;

        @include box(2em);
        font-weight: 500;
        background-color: #ffffffd8;
        border-radius: 50%;
        color: var(--admin-text-color);
        cursor: default;
    }

    &__title {
        margin: 0;
        position: absolute;
        inset: auto 0 0 0;
        background-color: #ffffffd8;
        text-align: center;
        color: var(--admin-text-color);
        font-weight: 500;
        padding: 1em;
    }

    &__img {
        display: block;
        @include box(100%);
        object-fit: contain;
    }

    &__button {
        padding-block: 0.75em;
    }

    &__download-block {
        padding: min(2.5vmax, 1.875em);
        display: flex;
        gap: 0.5em;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--admin-grey-100-color);
        outline: 2px dashed var(--admin-grey-300-color);
        border-radius: 5px;
        transition: background-color 0.25s ease-in-out;
        cursor: default;
    }

    &__download-text {
        margin: 0;
        text-align: center;
    }

    &__download-span {
        margin-top: 0.5rem;
        display: block;
        font-size: 0.75em;
    }
}
