@import "../../../styles/mixins";
@import "../../../styles/extends";

.header {
    position: relative;
    flex: none;
    z-index: 100;

    &_sticky {
        position: sticky;
        top: 0;
        background-color: rgba(255, 255, 255, 0.84);
        box-shadow: 0 5px 10px rgba(black, 0.26);
        transition: background-color 0.35s ease-in-out;

        &:hover {
            background-color: #fff;
        }
    }

    &__inner {
        @extend %main-width;
        padding-inline: var(--padding-gor-size-sm);
        display: flex;
    }

    &__logo {
        align-self: center;
        flex: none;
        block-size: 4em;
        min-block-size: 4em;
        max-block-size: 4em;
        margin-block: 1em;
    }

    // Меню
    &__menu {
        flex: auto;
        display: flex;
    }

    &__menu-list {
        @extend %reset-list;
        flex: auto;
        display: flex;
        justify-content: center;

        li {
            flex: none;
        }
    }

    &__menu-link {
        display: block;
        font-family: var(--font-headings);
        font-size: 1.5em;
        line-height: 1.5;
        color: inherit;
        text-align: inherit;
        padding: min(3.2vi, 32px) min(2vi, 1.875em);
        text-decoration: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid currentColor;
        }

        &:hover {
            color: var(--primary);
        }

        &_active {
            pointer-events: none;
            color: var(--primary);
        }

        @include media(sm) {
            font-size: var(--text-size-lg);
        }
    }

    &__submenu > .header__submenu-list-container,
    &__menu-list > .header__submenu > .header__submenu-list-container {
        & > .header__submenu-list {
            // & > .header__submenu > .header__submenu-list-container {
            //     @extend %hidden-block;
            //     height: 0;
            //     overflow: hidden;
            // }

            // & > .header__submenu {
            //     &_opened {
            //         & > .header__submenu-button .header__submenu-button-icon {
            //             transform: scale(1, -1);
            //         }

            //         & > .header__submenu-list-container {
            //             @extend %visibility-block;
            //             overflow: unset;
            //             height: auto;
            //         }
            //     }
            // }
        }
    }

    // Подменю
    &__submenu {
        display: flex;

        &[dataLevel="1"] > .header__submenu-list-container {
            position: fixed;
            z-index: 1;
            inset: 6em 0 auto 0;

            overflow: auto;
            max-block-size: 90dvb;

            padding: 1em var(--padding-gor-size-sm);
            background-color: #fff;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.26);
            border-block-start: 1px solid var(--dark-background);
            border-radius: 0 0 10px 10px;
        }

        &[dataLevel="2"] {
            & > .header__submenu-list-container {
                overflow: hidden;
                height: 0;
            }
        }

        &_opened {
            & > .header__submenu-button .header__submenu-button-icon {
                transform: scale(1, -1);
            }

            & > .header__submenu-list-container {
                @extend %visibility-block;
            }

            &[dataLevel="2"] > .header__submenu-list-container {
                height: auto;
                overflow: unset;
            }
        }
    }

    &__submenu-list-container {
        @extend %hidden-block;
    }

    &__submenu-list {
        @extend %reset-list;
        @extend %main-width;
        padding-inline: min(15vi, 150px);

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(21em, 100%), 1fr));

        .header__menu-link {
            padding-block: 1em;
        }
    }

    &__burger-button {
        z-index: 100;

        align-self: center;

        flex: none;
        margin: auto;
        margin-inline-end: 0;

        @extend %reset-btn;
        @include box(3.25em, 2.75em);
        min-width: 3.25em;
        border-radius: 15px;
        padding: 0.75em;
        box-sizing: border-box;
        transition: all 0.35s ease;

        display: flex;

        &:hover div {
            background-color: var(--primary);
        }

        div {
            margin: auto;

            position: relative;
            width: 100%;
            height: 3px;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.35s ease;
            border-radius: 10px;

            &:before,
            &::after {
                content: "";
                position: absolute;
                top: -10px;
                width: 100%;
                height: inherit;
                border-radius: inherit;
                background-color: inherit;
            }
            &::before {
                top: 10px;
            }
        }

        &_opened {
            &:hover > div {
                transform: rotate(225deg);
            }

            div {
                transform: rotate(135deg);

                &::before,
                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__submenu-button {
        @extend %reset-btn;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid currentColor;
        }

        &:hover {
            color: var(--primary);
        }

        &_active {
            pointer-events: none;
            color: var(--primary);
        }
    }

    &__submenu-button-icon {
        display: inline-block;
        vertical-align: middle;
        inline-size: 1.5em;
        block-size: 1.5em;
        transition: 0.15s ease-in;
        svg {
            inline-size: 1.5em;
            block-size: 1.5em;
        }

        @include media(md, max) {
            display: none;
        }
    }
}
