@import "../../../styles/mixins";
@import "../../../styles/extends";

.menu {
    flex: auto;
    display: flex;
    align-items: center;
    text-align: center;

    @include media(md, max) {
        position: absolute;
        inset: 0 0 auto auto;
        max-block-size: 90vh;
        overflow: hidden;
        width: clamp(20rem, 9.7887rem + 51.0563vw, 56.25rem);
        box-shadow: 0 0 15px rgba(black, 0.15);
        border-radius: 0 0 0 10px;
        background-color: white;
        padding: 1em 1.5em 2.5em;

        display: flex;
        flex-direction: column;

        transition: all 0.35s ease-in-out;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    @include media(xs, max) {
        position: fixed;
        inset: 0;
        block-size: 100vh;
        block-size: 100dvb;
        max-block-size: unset;
        width: unset;
        border-radius: 0;
        box-shadow: unset;
    }

    @include media(xs) {
        text-align: left;
    }

    &_opened {
        opacity: 1;
        visibility: visible;
        pointer-events: unset;
    }

    &__list {
        @extend %reset-list;
        flex: auto;

        display: flex;
        flex-direction: column;

        @include media(md, max) {
            overflow: auto;
        }

        @include media(md) {
            flex-wrap: wrap;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__item {
        // &_has-submenu {}

        &_more-menu {
            @include media(md, max) {
                & > .submenu__button {
                    display: none;
                }
            }

            @include media(md) {
                & > .submenu__list {
                    max-block-size: 90vh;
                    overflow: auto;
                }
            }
        }
    }

    &__link {
        color: inherit;
        text-align: inherit;
        text-decoration: none;
        display: block;
        font-size: 1.5em;
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);
        font-family: var(--font-headings);
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid currentColor;
        }

        &:hover {
            color: var(--primary);
        }

        &_active {
            pointer-events: none;
            color: var(--primary);
        }

        @include media(sm) {
            font-size: var(--text-size-lg);
        }
    }
}
