@import "../../../styles/mixins";
@import "../../../styles/extends";

.submenu {
    position: relative;

    &:hover {
        .submenu__button {
            color: var(--primary);

            .submenu__button-icon {
                transform: scale(1, -1);
            }
        }

        .submenu__list {
            opacity: 1;
            visibility: visible;
            pointer-events: unset;
        }
    }

    // &__caption {}

    &__button {
        @extend %reset-btn;
    }

    // &__button-text {}

    &__button-icon {
        display: inline-block;
        vertical-align: middle;
        inline-size: 1.5em;
        block-size: 1.5em;
        transition: 0.15s ease-in;
        svg {
            inline-size: 1.5em;
            block-size: 1.5em;
        }
    }

    &__list {
        @extend %reset-list;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: right;
        padding: 1em;

        transition: all 0.35s ease-in-out;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        @include media(md) {
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);

            position: absolute;
            inset: 100% 0 auto auto;
        }
    }

    &__link {
        text-decoration: none;
        display: block;
        font-size: var(--text-size-lg);
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);
        font-family: var(--font-headings);
        cursor: pointer;

        &:hover {
            color: var(--primary);
        }

        &_active {
            color: var(--primary);
        }

        @include media(xs, max) {
            font-size: 1.5em;
        }
    }
}
