@import "../../../styles/mixins";
@import "../../../styles/extends";

.submenu {
    position: relative;

    @include media(md) {
        &:hover > {
            .submenu__button .submenu__button-icon {
                transform: scale(1, -1);
            }

            .submenu__list {
                opacity: 1;
                visibility: visible;
                pointer-events: unset;
            }
        }

        &_inset_right {
            &:hover .submenu__button .submenu__button-icon {
                transform: rotate(-90deg);
            }
            .submenu__list {
                inset: 0 auto auto 100%;
            }
        }

        &_inset_left {
            &:hover .submenu__button .submenu__button-icon {
                transform: rotate(90deg);
            }
            .submenu__list {
                inset: 0 100% auto auto;
            }
        }
    }

    &__button {
        @extend %reset-btn;
        color: inherit;
        text-align: inherit;
        text-decoration: none;
        display: block;
        font-size: 1.5em;
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);
        font-family: var(--font-headings);
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid currentColor;
        }

        &:hover {
            color: var(--primary);
        }

        &_active {
            pointer-events: none;
            color: var(--primary);
        }

        @include media(sm) {
            font-size: var(--text-size-lg);
        }

        @include media(md, max) {
            text-transform: uppercase;
            font-weight: 600;
            pointer-events: none;
        }
    }

    // &__button-text {}

    &__button-icon {
        display: inline-block;
        vertical-align: middle;
        inline-size: 1.5em;
        block-size: 1.5em;
        transition: 0.15s ease-in;
        svg {
            inline-size: 1.5em;
            block-size: 1.5em;
        }

        @include media(md, max) {
            display: none;
        }
    }

    &__list {
        @extend %reset-list;

        display: flex;
        flex-direction: column;

        @include media(xs) {
            padding-inline-start: min(2vmax, 1.875em);
        }

        @include media(md) {
            padding: 1em;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);

            inline-size: min(36vw, 20em);

            position: absolute;
            z-index: 1;
            inset: 100% 0 auto auto;

            transition: all 0.35s ease-in-out;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }

    // &__item {
    //   &_has_submenu {

    //   }
    // }

    &__caption {
        @extend .submenu__button;
        margin: 0;

        text-transform: uppercase;
        font-weight: 600;
        pointer-events: none;
    }

    &__caption-list {
        @extend %reset-list;

        display: flex;
        flex-direction: column;

        @include media(xs) {
            padding-inline-start: min(2vmax, 1.875em);
        }
    }

    &__link {
        color: inherit;
        text-align: inherit;
        text-decoration: none;
        display: block;
        font-size: 1.5em;
        padding: min(1.25vmax, 0.875em) min(2vmax, 1.875em);
        font-family: var(--font-headings);
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid currentColor;
        }

        &:hover {
            color: var(--primary);
        }

        &_active {
            pointer-events: none;
            color: var(--primary);
        }

        @include media(sm) {
            font-size: var(--text-size-lg);
        }
    }
}
