.image-preview {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(black, 0.84);
    display: none;

    &_open {
        display: flex;
    }

    &__container {
        width: 100%;
    }

    &__close {
        position: absolute;
        inset-block-start: min(1.6vh, 1em);
        inset-inline-end: min(1.6vh, 1em);
        color: #fff;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.54);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.54);

        &:hover:not(:disabled) {
            background-color: transparent;
            color: var(--admin-error-color);
        }
    }

    &__image {
        object-fit: contain;
        margin: auto;
        display: block;
        width: 100vw;
        height: 100vh;
    }
}
