@import "../../../styles/mixins";
@import "../../../styles/extends";

.admin-image-gallery {
    @extend %reset-list;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));

    &__item {
        @include box(100%);
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        aspect-ratio: 16/9;
        background-color: var(--admin-grey-200-color);
        outline: 2px solid var(--admin-grey-300-color);
        cursor: pointer;

        &_portrait {
            aspect-ratio: 210/297;
        }

        &:hover {
            .admin-image-gallery__img {
                transform: scale(1.05);
            }
        }

        &:hover .admin-image-gallery__item-panel,
        &:hover .admin-image-gallery__thumbs {
            @extend %visibility-block;
        }
    }

    &__title {
        margin: 0;
        position: absolute;
        inset: auto 0 0 0;
        background-color: #ffffffd8;
        text-align: center;
        color: var(--admin-text-color);
        font-weight: 500;
        padding: 1em;
    }

    &__current-position {
        position: absolute;
        inset: auto auto 0.375em 0.375em;

        display: flex;
        align-items: center;
        justify-content: center;

        @include box(2em);
        font-weight: 500;
        background-color: #ffffffd8;
        border-radius: 50%;
        color: var(--admin-text-color);
        cursor: default;
    }

    &__img {
        display: block;
        @include box(100%);
        object-fit: contain;
        transition: transform 0.35s ease-in;
    }
}

.image-gallery {
    @extend %reset-list;

    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(21em, 100%), 1fr));

    &__item {
        @include box(100%);
        position: relative;
        overflow: hidden;
        // aspect-ratio: 1/1;
        outline: 2px solid var(--dark-background);
        border-radius: 5px;
        aspect-ratio: 22/15;
        cursor: pointer;

        &:hover {
            .image-gallery__img {
                transform: scale(1.05);
            }
        }

        &:hover .admin-image-gallery__item-panel,
        &:hover .admin-image-gallery__thumbs {
            @extend %visibility-block;
        }
    }

    &__img {
        @extend %alt-text-on-after;
        display: block;
        @include box(100%);
        object-fit: cover;
        transition: transform 0.35s ease-in;
    }
}
